<div class="top-row navbar-matrix">
    <div class="container-fluid">
        <h1 class="navbar-brand-matrix">Asistente</h1>
    </div>
</div>

@* <input type="checkbox" title="Navigation menu" class="navbar-toggler-matrix" /> *@

@* <div class="nav-scrollable-matrix" onclick="document.querySelector('.navbar-toggler-matrix').click()">
    <nav class="flex-column">
        <div class="nav-item-matrix">
            <NavLink class="nav-link-matrix" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu"></span> Chat
            </NavLink>
        </div>
    </nav>
</div>
 *@